<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.reactlibrary">
 <application>
      <provider
            android:name="com.reactlibrary.FileProviderClass"
            android:authorities="${applicationId}.docViewer_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
